<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>IdeasOnCanvas GmbH</string>
	<key>id</key>
	<string>188D-4A73-873SDFE-6A945E-B1A4DFS404-CA9970D</string>
	<key>title</key>
	<string>Ocean</string>
	<key>version</key>
	<integer>3</integer>
</dict>
</plist>
